html{
  font-size: 50px;
}

.delay-btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: .63rem;
  padding: 0 .2898rem;
  font-size: .2717rem;
  font-family: Helvetica Neue,Helvetica,sans-serif;
  text-align: center;
  border-radius: 0.06rem;
  border: none;
  outline: 0;
  cursor: pointer;
  box-shadow: 0.06rem 0.06rem 0.08rem rgba(28, 187, 180, 0.2);
  background: #1cbbb4;
  color: #fff;
}

.round-wrap {
  display: flex;
  flex-direction: column;
  min-height: 520px;
  padding: .1rem .72rem;
}

.round {
  width: .4rem;
  height: .4rem;
  background: cyan;
  border-radius: 50%;
  cursor: pointer;
}

.animation-parabola {
  animation: parabola-transform-keyframes 3s linear both;
}

@keyframes parabola-transform-keyframes {
  0%{transform:translate3d(0px,0,0)}
  10%{transform:translate3d(60px,4.5px,0)}
  20%{transform:translate3d(120px,18px,0)}
  30%{transform:translate3d(180px,40.5px,0)}
  40%{transform:translate3d(240px,72px,0)}
  50%{transform:translate3d(300px,112.5px,0)}
  60%{transform:translate3d(360px,162px,0)}
  70%{transform:translate3d(420px,220.5px,0)}
  80%{transform:translate3d(480px,288px,0)}
  90%{transform:translate3d(540px,364.5,0)}
  100%{transform:translate3d(600px,450px,0)}
}