html,
body,
div,
p,
ul,
li,
h1,
h2,
h3,
a,
span,
i,
header,
footer {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-appearance: none;
}

ul,li{
  list-style: none;
}

@media screen and (min-width:320px){html{font-size:17.06px!important}}@media screen and (min-width:360px){html{font-size:19.2px!important}}@media screen and (min-width:375px){html{font-size:20px!important}}@media screen and (min-width:384px){html{font-size:20.48px!important}}@media screen and (min-width:414px){html{font-size:22.05px!important}}@media screen and (min-width:448px){html{font-size:23.893px!important}}@media screen and (min-width:512px){html{font-size:27.307px!important}}@media screen and (min-width:544px){html{font-size:29.013px!important}}@media screen and (min-width:576px){html{font-size:30.72px!important}}@media screen and (min-width:608px){html{font-size:32.427px!important}}@media screen and (min-width:640px){html{font-size:34.133px!important}}@media screen and (min-width:750px){html{font-size:40px!important}}@media screen and (min-width:768px){html{font-size:40.93px!important}}#app{width:100%;height:100%}
@media screen and (min-width:320px){html{font-size:17.06px!important}}@media screen and (min-width:360px){html{font-size:19.2px!important}}@media screen and (min-width:375px){html{font-size:20px!important}}@media screen and (min-width:384px){html{font-size:20.48px!important}}@media screen and (min-width:414px){html{font-size:22.05px!important}}@media screen and (min-width:448px){html{font-size:23.893px!important}}@media screen and (min-width:512px){html{font-size:27.307px!important}}@media screen and (min-width:544px){html{font-size:29.013px!important}}@media screen and (min-width:576px){html{font-size:30.72px!important}}@media screen and (min-width:608px){html{font-size:32.427px!important}}@media screen and (min-width:640px){html{font-size:34.133px!important}}@media screen and (min-width:750px){html{font-size:40px!important}}@media screen and (min-width:768px){html{font-size:40.93px!important}}#app{width:100%;height:100%}

#app{
  width: 100%;
  height: 100%;
}

.page-buy .tab-header {
  height: 3.5rem;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  padding-top: .625rem;
}

.tab-header-btn-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 17rem;
  margin: 0 auto;
}

.page-buy .tab-header .tab-header-btn-box .tab-header-btnbox {
  width: 8.25rem;
  height: 2.35rem;
  line-height: 2.35rem;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  text-align: center;
  font-size: .75rem;
  color: gray;
  position: relative;
}

.page-buy .tab-header .tab-header-btn-box .tab-header-selected {
  border: 1px solid #2088df;
  color: #2088df;
}

.content-box{
  margin: .6rem;
}

.page-buy .content-box .content {
  width: 17rem;
  margin: 0 auto;
  padding-bottom: .4rem;
}

.page-buy .content-box .content .content-tit {
  padding: .8rem 0;
  color: gray;
  font-size: .7rem;
}

.page-buy .content-box .content .content-tit .instructions {
  float: right;
  font-size: .5rem;
  text-decoration: underline;
}

.product-list {
  width: 100%;
}

.page-buy .content-box .content .product-list .product-list-item {
  height: 2.65rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
  padding: .875rem;
  margin-bottom: 1rem;
  position: relative;
}

.page-buy .content-box .content .product-list .product-list-item-selected {
  border: 1px solid #2088df;
  position: relative;
}

.product-list-item-tit {
  display: flex;
  justify-content: space-around;
}

.time {
  width: 6.75rem;
  height: .9rem;
  line-height: .9rem;
  color: gray;
  font-size: .8rem;
  text-align: center;
}

.se {
  display: inline-block;
  width: 1px;
  height: .9rem;
  background: #e5e5e5;
  margin-right: 1.6rem;
}

.price {
  width: 2.825rem;
    height: .9rem;
    line-height: .9rem;
    color: gray;
    font-size: .8rem;
    text-align: left;
}

.originalPrice {
  display: inline-block;
  width: 1.7rem;
  height: .9rem;
  line-height: .9rem;
  font-size: .6rem;
  text-align: right;
  color: #999;
  text-decoration: line-through;
}

.page-buy .perch {
  height: 2.6rem;
  width: 100%;
  background: #fff;
}

.page-buy .buy-info-box {
  width: 100%;
  height: 2.6rem;
  background: rgba(76,76,76,.9);
  position: fixed;
  bottom: 0;
  left: 0;
}

.page-buy .buy-info-box .buy-info .buy-info-price {
  color: #ff7d27;
  font-size: 1.4rem;
}

.page-buy .buy-info-box .buy-info .buy-btn {
  position: absolute;
  width: 4.9rem;
  height: 2.6rem;
  top: 0;
  right: 0;
  line-height: 2.6rem;
  text-align: center;
  color: #fff;
  background: #fb612b;
  font-size: .875rem;
}