// common styles
.card {
  background: #eee;
}

// demo styles
$color1: #6190e8;
$color2: hsl(171, 100%, 41%);
.demo-bg {
  background: #ffffff;
  height: 180px;
  position: relative;
}
.demo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -45px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background: $color1;
  &.active {
    background: $color2;
    left: 100%;
    margin-left: -110px;
  }
  &-2 {
    transition: all ease 2s;
  }
}