.card {
  background: #eee;
}

.demo-bg {
  background: #ffffff;
  height: 180px;
  position: relative;
}

.demo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -45px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background: #6190e8;
}
.demo-item.active {
  background: #00d1b2;
  left: 100%;
  margin-left: -110px;
}
.demo-item-2 {
  transition: all ease 2s;
}