<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo</title>
</head>

<body>
  <div id="app">
    <div>
      <input type="text" v-model="inputValue"/>
      <button @click="handleBtnClick">提交</button>
      <ul>
        <todo-item
          v-for="(item, index) in list"
          :key="index"
          :index="index"
          :content="item"
          @delete="handleItemDelete"
        />
      </ul>
    </div>
  </div>
  <script src="../vue.js"></script>
  <script>
    var TodoItem = {
      props: ['content', 'index'],
      template: "<li @click='handleItemClick'>{{ content }}</li>",
      methods: {
        handleItemClick() {
          this.$emit("delete", this.index)
        }
      }
    }
    var app = new Vue({
      el: '#app',
      components: {
        TodoItem: TodoItem
      },
      data: {
        inputValue: '',
        list: ['study', 'eat', 'sleep']
      },
      methods: {
        handleBtnClick() {
          if(this.inputValue){
            this.list.unshift(this.inputValue)            
          }
          this.inputValue = ''
        },
        handleItemDelete(index) {
          console.log(index)
          // this.list.splice(index, 1)
        }
      }
    })
  </script>
</body>

</html>